## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import json
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rome,US,43.2128,-75.4557,70.66,81,82,1.99,broken clouds
1,1,Rikitea,PF,-23.1203,-134.9692,73.42,79,100,18.59,light rain
2,2,Lujiang,CN,31.2581,117.2817,66.02,80,55,19.84,light rain
3,3,Ushuaia,AR,-54.8000,-68.3000,46.49,72,85,5.66,overcast clouds
4,4,São José da Coroa Grande,BR,-8.8978,-35.1478,81.32,70,95,11.25,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
max_temp = input("Enter your desired maximum temperature: ")
min_temp = input("Enter your desired minimum temperature: ")

Enter your desired maximum temperature: 80
Enter your desired minimum temperature: 65

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
temp_df = city_data_df.loc[city_data_df['Max Temp'] <= float(max_temp)]
temp_df = temp_df.loc[temp_df['Max Temp'] >= float(min_temp)]
temp_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rome,US,43.2128,-75.4557,70.66,81,82,1.99,broken clouds
1,1,Rikitea,PF,-23.1203,-134.9692,73.42,79,100,18.59,light rain
2,2,Lujiang,CN,31.2581,117.2817,66.02,80,55,19.84,light rain
7,7,Cananéia,BR,-25.0147,-47.9267,71.55,79,88,8.10,overcast clouds
9,9,Albany,US,42.6001,-73.9662,68.14,86,20,3.49,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
temp_df.count()

Unnamed: 0             228
City                   228
Country                228
Lat                    228
Lng                    228
Max Temp               228
Humidity               228
Cloudiness             228
Wind Speed             228
Current Description    228
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#This step is not needed as there are no empty rows

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = temp_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rome,US,70.66,broken clouds,43.2128,-75.4557,
1,Rikitea,PF,73.42,light rain,-23.1203,-134.9692,
2,Lujiang,CN,66.02,light rain,31.2581,117.2817,
7,Cananéia,BR,71.55,overcast clouds,-25.0147,-47.9267,
9,Albany,US,68.14,few clouds,42.6001,-73.9662,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotel_data = requests.get(base_url, params = params)
    hotel_data = hotel_data.json()
    
    try:
        # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        hotel_df.loc[index, 'Hotel Name'] = hotel_data["results"][0]["name"]
        print('Hotel found')
    except:
        print('Hotel not found')
        pass
    
hotel_df.head(10)

Hotel found
Hotel found
Hotel found
Hotel found
Hotel not found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel not found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel not found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel not found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel not found
Hotel found
Hotel found
Hotel not found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel not found
Hotel found
Hotel found
Hotel found
Hotel not found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel not found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel found
Hotel not found
Hotel found
Hotel found
Hotel found

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rome,US,70.66,broken clouds,43.2128,-75.4557,Wingate By Wyndham Rome
1,Rikitea,PF,73.42,light rain,-23.1203,-134.9692,People ThankYou
2,Lujiang,CN,66.02,light rain,31.2581,117.2817,GreenTree Inn Hefei Lujiang County Jinjie 1 Ex...
7,Cananéia,BR,71.55,overcast clouds,-25.0147,-47.9267,Pousada Ancoradouro
9,Albany,US,68.14,few clouds,42.6001,-73.9662,
11,Hermanus,ZA,76.89,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
17,Avarua,CK,71.65,clear sky,-21.2078,-159.7750,Paradise Inn
18,Mananara,MG,70.14,scattered clouds,-16.1667,49.7667,Chez Roger
22,Atuona,PF,78.42,overcast clouds,-9.8000,-139.0333,Villa Enata
23,Jamestown,US,73.18,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [9]:
# 7. Drop the rows where there is no Hotel Name.
(hotel_df['Hotel Name'].values == "").sum()

10

In [10]:
hotel_df = hotel_df.replace('', np.nan)
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rome,US,70.66,broken clouds,43.2128,-75.4557,Wingate By Wyndham Rome
1,Rikitea,PF,73.42,light rain,-23.1203,-134.9692,People ThankYou
2,Lujiang,CN,66.02,light rain,31.2581,117.2817,GreenTree Inn Hefei Lujiang County Jinjie 1 Ex...
7,Cananéia,BR,71.55,overcast clouds,-25.0147,-47.9267,Pousada Ancoradouro
9,Albany,US,68.14,few clouds,42.6001,-73.9662,NaN

In [15]:
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rome,US,70.66,broken clouds,43.2128,-75.4557,Wingate By Wyndham Rome
1,Rikitea,PF,73.42,light rain,-23.1203,-134.9692,People ThankYou
2,Lujiang,CN,66.02,light rain,31.2581,117.2817,GreenTree Inn Hefei Lujiang County Jinjie 1 Ex...
7,Cananéia,BR,71.55,overcast clouds,-25.0147,-47.9267,Pousada Ancoradouro
11,Hermanus,ZA,76.89,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel

In [16]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))